body{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #191919;
    padding: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 300px;
}

.first ul{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.first li{
    list-style: none;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    padding: 30px;
}

.list-first{
    margin-right: 70px;
    margin-left: 300px;
    
}

.list-first div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-first summary{
    background-color: #191919;
    color: #fff;
    padding: 30px;
    border: 1px solid #191919;
    border-radius: 10px;
}

.list-first img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.list-second{
    margin-right: 300px;
}

.list-second img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 200px;
    margin-top: 30px;
}

.card h4, p{
    flex-direction: row;
    margin: 0px;
}