body{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #191919;
    padding: 30px;
    margin-left: 300px;
    margin-right: 300px;
}


.first ul{
    display: flex;
    flex-direction: row;
    margin: 0px;
    
}

.first li{
    list-style: none;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    padding: 30px;
}

.list-first{
    margin-top: 0px;
    margin-right: 70px;
}

.list-first div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-first summary{
    background-color: #191919;
    color: #fff;
    padding: 30px;
    border: 0px solid #191919;
    border-radius: 20px;
}

.list-first img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.list-second{
    margin-right: 300px;
    border: 2px solid rgba(0,0,0,0.92);
    border-radius: 20px;
    margin-bottom: 0px;
    height: 240px;   
     
}

.list-second img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.card h4, p{
    flex-direction: row;
    margin: 0px;
}

.card2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.card2 h4, p{
    flex-direction: row;
    margin: 0px;
}

.list-second div{
    display: flex;
    flex-direction: row;
}

.second-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
}

.second-cards img{
    height: 290px;
    border-radius: 20px;
    margin-right: 20px;
}

.stars{
    font-size: 30px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #191919;
    color: #fff;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 0px;
    height: 230px;
}

.carousel-container{

    border: 2px solid rgba(0,0,0,0.92);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 70px;
    padding: 30px;
}

.carousel-container img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;

}